@import "../../global.scss"; 
.contact{
   
    .footer{
        display: flex;
        flex-direction: column;
        background-color: rgb(8, 26, 67);
        color: white;
        
        .container{
            direction: rtl;
            display: flex;
            padding: 50px 0;
            justify-content: space-between;
            align-items: center;

            @include tablet{
                padding: 30px 0;
                flex-direction: column;                
              }
            
            .footerTxt{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 12px;
                gap: 10px;
                padding-top: 20px;
                @include tablet{
                   width: 100%;
                   margin-top: 20px;
                  }
               
                .title{
                    display: flex;
                    gap: 10px;
                    font-size: 20px;
                    @include tablet{
                        margin-right: 30px;
                       }
                   h4{
                    font-size: 18px;
                    @include tablet{
                        font-size: 16px;
                       }
                   }
                  
                }
                .body{
                    margin-right: 20px;
                    @include tablet{
                        margin-right: 60px;
                       }
                }
                .titleIcon{
                    display: flex;
                    gap: 10px;
                    @include tablet{
                        margin: auto;
                        padding-top: 30px;
                       }
                    h6{
                        @include tablet{
                            font-size: 14px;
                           }
                    }   
                }
                .icon{
                    margin-right: 30px;
                    @include tablet{
                       align-items: center;
                       margin: auto;
                       }
                    i{
                        font-size: 20px;
                        margin-right: 20px;
                        @include tablet{
                            font-size: 16px;
                           }
                    }
                }
            }
        }
        .copyright{
            text-align: center;
            margin-top: 30px;
            @include tablet{
                margin-top: 10px;
               }
            h6{
                font-size: 12px;
                @include tablet{
                    font-size: 10px;
                }
            }
            p{
                font-size: 10px;
                @include tablet{
                    font-size: 8px;
                }
            }
        }
    }
}